/* FOOTER */

body {
    background-color: #F3F2F0;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

html {
    height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/* IMAGES JOB */

.imgJob {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 150px !important;
    width: 220px;
}

.aJob {
    padding: 20px 0;
}

.imgContent{
    box-shadow: 0 0 5px transparent;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 5px solid transparent;
}

.imageBorder{
    box-shadow: 0 0 5px red;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 5px solid red;

}

/* IMAGE HEADER */

.ico {
    height: 25px;
    margin-right: 10px;
}

/* CHARTE GRAPHIQUE IMIE */


