/*---------------------- HTML ----------------------*/

body {
    background-color: #ffffff;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "HelveticaNeue";
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: "ZonaBlack";
}

.font {
    font-family: "HelveticaNeue";
}

html {
    height: 100%;
    background-color: #aaaaaa;
}

.content {
    margin-bottom: 100px;
}

/*---------------------- HEADER ----------------------*/

.navbar-nav > li > a {
    padding-bottom: 25px;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

.navbar-fixed {
    background-color: #ea3d4f;
    border: none;
    border-radius: 0;
}

.navbar-nav {
    overflow: hidden;
}

.active-bottom {
    border-bottom: solid 7px;
    border-color: #ffef2b;
}

.navbar-toggle {
    border: none;
}

.tab a {
    margin-bottom: -15px;
}

.navbar-header, .navbar-brand, .tab a {
    color: #FFFFFF;
}

/* IMAGE HEADER */

.ico {
    height: 25px;
    margin-right: 10px;
}

/*---------------------- FOOTER ----------------------*/

footer {
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 12px;
}

.footer {
    padding-top: 2%;
    background-color: #efefef;
}

#cookieChoiceInfo {
    font-size: 10px;
}

/*---------------------- BODY ----------------------*/

/*------- HOME -------*/

.doTest {
    padding: 30px 20px;
    box-shadow: 5px 5px 5px #505050;
    border-radius: 0;
    margin-bottom: 50px;
    background-color: #EA3D50;
    border: none;
}

.subtitleHome {
    background-color: #EA3D50;
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.thumbnail {
    border: none;
}

.thumbHome {
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 239px !important;
}

.imgHome {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*------- METIER (RESULTAT TEST) -------*/

.imgJob {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 170px !important;
    width: 240px;
}

/*------- METIERS -------*/

.thumJob {
    border: none;
}

.margin-100 {
    margin-top: 100px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 16px;
    height: 60px;
    text-decoration: none;
    color: #000000;
}

/*---------------------- CHARTE GRAPHIQUE IMIE ----------------------*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
    font-family: 'ZonaBlack';
    src: url('../font/Zona Black.ttf')
}
