/*---------------------- HTML ----------------------*/

body {
    background-color: #ffffff;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "HelveticaNeue";
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: "ZonaBlack";
}

.font {
    font-family: "HelveticaNeue";
}

.title-site {
    font-family: "StarJedi";
    font-size: 70px;
}

html {
    height: 100%;
    background-color: #aaaaaa;
}

.content {
    margin-bottom: 100px;
}

/*---------------------- HEADER ----------------------*/

.navbar-nav > li > a {
    padding-bottom: 25px;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
}

.navbar-fixed {
    background-color: #ea3d4f;
    border: none;
    border-radius: 0;
}

.navbar-nav {
    overflow: hidden;
}

.active-bottom {
    border-bottom: solid 7px;
    border-color: #ffef2b;
}

.navbar-toggle {
    border: none;
}

.tab a {
    margin-bottom: -15px;
}

.navbar-header, .navbar-brand, .tab a {
    color: #FFFFFF;
}

/* IMAGE HEADER */

.ico {
    height: 55px;
    margin-top: -16px;
}

/*---------------------- FOOTER ----------------------*/

footer {
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 12px;
}

.footer {
    padding-top: 2%;
    background-color: #efefef;
}

#cookieChoiceInfo {
    font-size: 10px;
}

/*---------------------- BODY ----------------------*/

/*------- HOME -------*/

.doTest {
    padding: 30px 20px;
    box-shadow: 5px 5px 5px #505050;
    border-radius: 0;
    margin-bottom: 50px;
    background-color: #EA3D50;
    border: none;
}

.subtitleHome {
    background-color: #EA3D50;
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.thumbnail {
    border: none;
}

.thumbHome {
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 239px !important;
}

.imgHome {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*------- METIER (RESULTAT TEST) -------*/

.imgJob {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 170px !important;
    width: 240px;
}

.percentage {
    font-size: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    background:-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 91%, rgba(0, 0, 0, 1) 100%);
    background:-webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 91%, rgba(0, 0, 0, 1) 100%);
    background:linear-gradient(135deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 91%, rgba(0, 0, 0, 1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000, GradientType=1);    padding: 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
    font-weight: bolder;
    font-family: "DejaVu Sans Condensed";
}

.poucentageSpan {
    bottom: 0;
    position: absolute;
    right: 0;
    height: 64px;
}

.imgProp {
    width: 100%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

}

.thumbProp {
    border: solid 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
    position: relative;
}

.subtitleProp {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

/*------- METIERS -------*/

.thumJob {
    border: none;
}

.margin-100 {
    margin-top: 100px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 16px;
    height: 60px;
    text-decoration: none;
    color: #000000;
}

/*---------------------- CHARTE GRAPHIQUE IMIE ----------------------*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
    font-family: 'ZonaBlack';
    src: url('../font/Zona Black.ttf');
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: url('../font/DejaVuSansCondensed-Bold.ttf');
}

@font-face {
    font-family: 'StarJedi';
    src: url('../font/Starjedi.ttf');
}

