.content-page {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-primary .btn-danger {
    width: 100%;
}

.float-right {
    display: inline-block;
    float: right;
    margin-right: 25%;
    margin-top: 40px;
}

.panel-body p {
    display: inline-block;
}

/**
FORMULAIRE DE LOGIN
 */

.login-form {
    text-align: center;
    color: #FFF;
    width: 50% !important;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #505050;
}
@media screen and (max-width: 640px){
    .login-form {
        text-align: center;
        color: #FFF;
        width: 100% !important;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 200px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: #505050;
    }
}


.login-form input {
    margin-bottom: 15px;
}

.login-title {
    padding-bottom: 200px;
    color: #FFF;
    text-decoration: underline;
}

.login-redirect a {
    color: #909090 !important;
}

.login-redirect a:hover, a:focus {
    color: #21A4B2 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}


/**
PERSONNALITY TYPE
 */
.opposedTemperament {
    float: right;
}


/**
PARAMETRES
 */
.param {
    margin: auto;
    text-align: center;
    width: 50%;
}

.param-title {
    margin: auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 10px;
}
