.content-page {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-primary .btn-danger {
    width: 100%;
}

.btn-right {
    display: inline-block;
    float: right;
    margin-right: 25%;
    margin-top: 40px;
}
.panel-heading.form-inline{
   padding-top:5px;
}
.panel-title  {
    padding-top:15px;
}
.inline-block{
    display:inline-block;
}
.panel-body p {
    display: inline-block;
}
.horyzontal-line{
    width:calc(100% - 34px);
    border-bottom:4px solid rgb(102, 102, 102); padding:4px 0
}
.float-right{
    float:right;
}
.arrow-right{
    width:0;
    height:0;
    border-style:solid;
    border-width:10px 0 10px 17px;
    border-color:transparent transparent transparent rgb(102, 102, 102);
}
.arrow-left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 17px 10px 0;
    border-color: transparent rgb(102, 102, 102) transparent transparent;
}
.alert{
    margin-top:20px;
}
/**
FORMULAIRE DE LOGIN
 */

.login-form {
    text-align: center;
    color: #FFF;
    width: 50% !important;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #505050;
}
@media screen and (max-width: 640px){
    .login-form {
        text-align: center;
        color: #FFF;
        width: 100% !important;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 200px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: #505050;
    }
}
@media (min-width: 1200px){
    .container {
        width: calc(1170px - 220px);
    }
}
@media (min-width: 992px){
    .container {
        width: calc(970px - 220px);
    }
}


.login-form input {
    margin-bottom: 15px;
}

.login-title {
    padding-bottom: 200px;
    color: #FFF;
    text-decoration: underline;
}

.login-redirect a {
    color: #909090 !important;
}

.login-redirect a:hover, a:focus {
    color: #21A4B2 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}


/**
PERSONNALITY TYPE
 */
.opposedPersonnalityType {
    float: right;
}


/**
PARAMETRES
 */
.param {
    margin: auto;
    text-align: center;
    width: 50%;
}

.param-title {
    margin: auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 10px;
}
