/*---------------------- HTML ----------------------*/

h1, h2 {
    font-family: "ZonaBlack";
}

.container {
    margin-top: 100px;
}

/*---------------------- BODY ----------------------*/

body {
    background-image: url('../img/SiteFlou.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "HelveticaNeue";
}

/*------- FORMULAIRE DE LOGIN -------*/

.panel-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.login-form {
    text-align: center;
    color: #FFF;
    width: 50% !important;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #505050;
}

.login-form input {
    margin-bottom: 15px;
}

.login-title {
    padding-bottom: 200px;
    color: #FFF;
    text-decoration: underline;
}

.login-redirect a {
    color: #909090 !important;
}

.login-redirect a:hover, a:focus {
    color: #21A4B2 !important;
}

.confirmed {
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .login-form {
        text-align: center;
        color: #FFF;
        width: 100% !important;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 200px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: #505050;
    }
}

/*---------------------- CHARTE GRAPHIQUE IMIE ----------------------*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueLTStd-Bd.otf');
}
@font-face {
    font-family: 'ZonaBlack';
    src: url('../font/Zona Black.ttf')
}
