{% extends "::base.html.twig" %}

{% block content %}
    {% include "AdminBundle:layout:header.html.twig" %}

    {% include "AdminBundle:layout:sidebar.html.twig" %}

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a title="" class="tip-bottom"><i class="fa fa-pencil-square-o"></i>Changer mot de
                    passe</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Édition du mot de passe</h2>
                </div>
                <div class="col-sm-12 col-md-6">
                    <hr>
                    {% block fos_user_content %}
                        {% include "UserBundle:ChangePassword:change_password_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
