{% extends 'UserBundle::base.html.twig' %}

{% block title %}{{ 'Account' }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <h2>Page de gestion des profils métiers</h2>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}