{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ 'UserAccount' }}{% endblock %}

{% block content %}
    <div id="content">
        <div class="login-form">

        </div>
    </div>
{% endblock %}
