{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ 'Enregistrement' }}{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Enregistrement
                    </div>
                    <div class="panel-body">
                        {% block fos_user_content %}
                            {% include "UserBundle:Registration:register_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
