{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ 'Connexion' }}{% endblock %}

{% block fos_user_content %}
<div class="row" >
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Connection
            </div>
            <div class="panel-body">
                {{ include('UserBundle:Security:login_content.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

