<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a title="" class="tip-bottom"><i class="icon icon-home"></i>Accueil</a>
        </div>
    </div>
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">

                <li class="bg_lb"><a href="#"> <i class="icon-dashboard"></i> My Dashboard </a></li>
                <li class="bg_lg span3"><a href="#"> <i class="icon-signal"></i> Charts</a></li>
                <li class="bg_ly"><a href="#"> <i class="icon-inbox"></i> Widgets </a></li>
                <li class="bg_lo"><a href="#"> <i class="icon-th"></i> Tables</a></li>
                <li class="bg_ls"><a href="#"> <i class="icon-fullscreen"></i> Full width</a></li>
                <li class="bg_lo span3"><a href="#"> <i class="icon-th-list"></i> Forms</a></li>
                <li class="bg_ls"><a href="#"> <i class="icon-tint"></i> Buttons</a></li>
                <li class="bg_lb"><a href="#"> <i class="icon-pencil"></i>Elements</a></li>
                <li class="bg_lg"><a href="#"> <i class="icon-calendar"></i> Calendar</a></li>
                <li class="bg_lr"><a href="#"> <i class="icon-info-sign"></i> Error</a></li>

            </ul>
        </div>
    </div>
    <!--End-Action boxes-->
</div>