<!--Action boxes-->
<div class="container-fluid">
    <div class="quick-actions_homepage">
        <ul class="quick-actions">

            <li class="bg_lb"><a href="#"> <i class="fa fa-dashboard"></i> Dashboard </a></li>
            <li class="bg_lg span3"><a href="#"> <i class="fa fa-signal"></i> Charts</a></li>
            <li class="bg_ly"><a href="#"> <i class="fa fa-inbox"></i> Widgets </a></li>
            <li class="bg_lo"><a href="#"> <i class="fa fa-th"></i> Tables</a></li>
            <li class="bg_ls"><a href="#"> <i class="fa fa-arrows"></i> Full width</a></li>
            <li class="bg_lo span3"><a href="#"> <i class="fa fa-th-list"></i> Forms</a></li>
            <li class="bg_ls"><a href="#"> <i class="fa fa-tint"></i> Buttons</a></li>
            <li class="bg_lb"><a href="#"> <i class="fa fa-pencil"></i> Elements</a></li>
            <li class="bg_lg"><a href="#"> <i class="fa fa-calendar"></i> Calendar</a></li>
            <li class="bg_lr"><a href="#"> <i class="fa fa-info"></i> Error</a></li>
        </ul>
    </div>
</div>
<!--End-Action boxes-->
