<header>
    <!--Header-part-->
    <div id="header">
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="">
        <ul class="top-head">
            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-edit"></i> Editer Profil</a></li>
            <li><a title="" href="{{ path('fos_user_security_logout') }}"><i class="icon icon-share-alt"></i>
                    <span class="text">Logout</span></a></li>
        </ul>
    </div>
</header>
