{% extends "@FOSUser/Group/edit.html.twig" %}


{% block fos_user_content %}

    <div class="login-form">

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-default" type="submit" value="Editer profil"/>
        </div>
        {{ form_end(form) }}


        <div style="padding-top: 20px">
            <a href="{{ path('admin_homepage') }}"><i class="icon icon-home"></i> <span>Retour à l'accueil</span></a>
        </div>
    </div>
{% endblock fos_user_content %}

