<header>
    <!--Header-part-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand pull-left" href="{{ path('home_homepage') }}">
                        <img alt="IMIE" src="{{ asset('') }}">
                    </a>
                </div>
                <ul class="nav nav-pills pull-right">
                    <li><a href="{{ path('home_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('home_jobs') }}">Métiers</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>