<header>
    {#<!--Header-part-->#}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand pull-left" href="{{ path('home_homepage') }}">NOM DU SITE
                        <img class="pull-left ico" alt="IMIE" src="{{ asset('favicon.ico') }}">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right" id="bs-example-navbar-collapse-1">
                        <li class="tab
                        {% if app.request.requestUri == path('home_homepage') %}
                            active-bottom
                        {% endif %}">
                            <a href="{{ path('home_homepage') }}">Accueil</a>
                        </li>
                        <li class="tab
                        {% if app.request.requestUri == path('home_metiers') %}
                            active-bottom
                        {% endif %}">
                            <a href="{{ path('home_metiers') }}">Métiers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>