{% extends "HomeBundle::base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block header %}
    {% include 'HomeBundle:layout:header.html.twig' %}
{% endblock %}

{% block content %}
    {% block _HomeBundle %}
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Test de personnalité :</h1>
                    <div class="col-md-6 col-md-offset-3">
                        <p>
                            Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris
                            incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de
                            industria milites agentes in civitatibus perviis.
                            Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris
                            incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de
                            industria milites agentes in civitatibus perviis.
                        </p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                {% for job in jobs %}
                    <div class="col-sm-4 col-md-4">
                        <a href="#" class="thumbnail">
                            {% if job.image is not null %}
                                <img class="imgJob image-responsive" src="{{ asset(job.image.pathname) }}" alt="job.name">
                            {% endif %}
                            <p>{{ job.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class=" btn btn-primary btn-lg" href="{{ path('home_quizz') }}">
                    Faire le test
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ render(controller('HomeBundle:Home:renderFooter')) }}
{% endblock %}
